[submodule "packages/a__target"]
	path = packages/a__target
	url = git@github.com:ctx-core/a__target
[submodule "packages/addtocalendar.com"]
	path = packages/addtocalendar.com
	url = git@github.com:ctx-core/addtocalendar.com.git
[submodule "packages/array"]
	path = packages/array
	url = git@github.com:ctx-core/array
[submodule "packages/assert"]
	path = packages/assert
	url = git@github.com:ctx-core/assert
[submodule "packages/atob"]
	path = packages/atob
	url = git@github.com:ctx-core/atob
[submodule "packages/auth0"]
	path = packages/auth0
	url = git@github.com:ctx-core/auth0
[submodule "packages/auth0-lock"]
	path = packages/auth0-lock
	url = git@github.com:ctx-core/auth0-lock
[submodule "packages/auth0-management"]
	path = packages/auth0-management
	url = git@github.com:ctx-core/auth0-management
[submodule "packages/auth0-ui"]
	path = packages/auth0-ui
	url = git@github.com:ctx-core/auth0-ui
[submodule "packages/aws-cli"]
	path = packages/aws-cli
	url = git@github.com:ctx-core/aws-cli
[submodule "packages/babel"]
	path = packages/babel
	url = git@github.com:ctx-core/babel
[submodule "packages/base16"]
	path = packages/base16
	url = git@github.com:ctx-core/base16
[submodule "packages/btoa"]
	path = packages/btoa
	url = git@github.com:ctx-core/btoa
[submodule "packages/buffer"]
	path = packages/buffer
	url = git@github.com:ctx-core/buffer
[submodule "packages/cache"]
	path = packages/cache
	url = git@github.com:ctx-core/cache
[submodule "packages/carousel"]
	path = packages/carousel
	url = git@github.com:ctx-core/carousel
[submodule "packages/chain"]
	path = packages/chain
	url = git@github.com:ctx-core/chain
[submodule "packages/child_process"]
	path = packages/child_process
	url = git@github.com:ctx-core/child_process
[submodule "packages/class"]
	path = packages/class
	url = git@github.com:ctx-core/class
[submodule "packages/cli-args"]
	path = packages/cli-args
	url = git@github.com:ctx-core/cli-args
[submodule "packages/clipboard"]
	path = packages/clipboard
	url = git@github.com:ctx-core/clipboard
[submodule "packages/cognito"]
	path = packages/cognito
	url = git@github.com:ctx-core/cognito
[submodule "packages/color"]
	path = packages/color
	url = git@github.com:ctx-core/color
[submodule "packages/color-bar"]
	path = packages/color-bar
	url = git@github.com:ctx-core/color-bar
[submodule "packages/combinators"]
	path = packages/combinators
	url = git@github.com:ctx-core/combinators
[submodule "packages/cookie"]
	path = packages/cookie
	url = git@github.com:ctx-core/cookie
[submodule "packages/core-js"]
	path = packages/core-js
	url = git@github.com:ctx-core/core-js
[submodule "packages/csv"]
	path = packages/csv
	url = git@github.com:ctx-core/csv
[submodule "packages/currency"]
	path = packages/currency
	url = git@github.com:ctx-core/currency
[submodule "packages/data"]
	path = packages/data
	url = git@github.com:ctx-core/data
[submodule "packages/date"]
	path = packages/date
	url = git@github.com:ctx-core/date
[submodule "packages/debounce"]
	path = packages/debounce
	url = git@github.com:ctx-core/debounce
[submodule "packages/dialog"]
	path = packages/dialog
	url = git@github.com:ctx-core/dialog
[submodule "packages/dir"]
	path = packages/dir
	url = git@github.com:ctx-core/dir
[submodule "packages/disqus"]
	path = packages/disqus
	url = git@github.com:ctx-core/disqus
[submodule "packages/dom"]
	path = packages/dom
	url = git@github.com:ctx-core/dom
[submodule "packages/drip_marketing"]
	path = packages/drip_marketing
	url = git@github.com:ctx-core/drip_marketing
[submodule "packages/email"]
	path = packages/email
	url = git@github.com:ctx-core/email
[submodule "packages/env"]
	path = packages/env
	url = git@github.com:ctx-core/env
[submodule "packages/error"]
	path = packages/error
	url = git@github.com:ctx-core/error
[submodule "packages/esm"]
	path = packages/esm
	url = git@github.com:ctx-core/esm
[submodule "packages/etag"]
	path = packages/etag
	url = git@github.com:ctx-core/etag
[submodule "packages/etsy_cache"]
	path = packages/etsy_cache
	url = git@github.com:ctx-core/etsy_cache
[submodule "packages/fb"]
	path = packages/fb
	url = git@github.com:ctx-core/fb
[submodule "packages/fetch"]
	path = packages/fetch
	url = git@github.com:ctx-core/fetch
[submodule "packages/fibonacci"]
	path = packages/fibonacci
	url = git@github.com:ctx-core/fibonacci
[submodule "packages/file-reader"]
	path = packages/file-reader
	url = git@github.com:ctx-core/file-reader
[submodule "packages/flash"]
	path = packages/flash
	url = git@github.com:ctx-core/flash
[submodule "packages/font"]
	path = packages/font
	url = git@github.com:ctx-core/font
[submodule "packages/fontawesome"]
	path = packages/fontawesome
	url = git@github.com:ctx-core/fontawesome
[submodule "packages/form"]
	path = packages/form
	url = git@github.com:ctx-core/form
[submodule "packages/function"]
	path = packages/function
	url = git@github.com:ctx-core/function
[submodule "packages/functional"]
	path = packages/functional
	url = git@github.com:ctx-core/functional
[submodule "packages/google"]
	path = packages/google
	url = git@github.com:ctx-core/google
[submodule "packages/graphql"]
	path = packages/graphql
	url = git@github.com:ctx-core/graphql
[submodule "packages/graphql-client"]
	path = packages/graphql-client
	url = git@github.com:ctx-core/graphql-client
[submodule "packages/graphql-service"]
	path = packages/graphql-service
	url = git@github.com:ctx-core/graphql-service
[submodule "packages/highlight.js"]
	path = packages/highlight.js
	url = git@github.com:ctx-core/highlight.js
[submodule "packages/html"]
	path = packages/html
	url = git@github.com:ctx-core/html
[submodule "packages/http"]
	path = packages/http
	url = git@github.com:ctx-core/http
[submodule "packages/iex"]
	path = packages/iex
	url = git@github.com:ctx-core/iex
[submodule "packages/iex-graphql"]
	path = packages/iex-graphql
	url = git@github.com:ctx-core/iex-graphql
[submodule "packages/instagram"]
	path = packages/instagram
	url = git@github.com:ctx-core/instagram
[submodule "packages/instagram_cache"]
	path = packages/instagram_cache
	url = git@github.com:ctx-core/instagram_cache
[submodule "packages/jetbrains"]
	path = packages/jetbrains
	url = git@github.com:ctx-core/jetbrains
[submodule "packages/jsdoc"]
	path = packages/jsdoc
	url = git@github.com:ctx-core/jsdoc
[submodule "packages/jwt"]
	path = packages/jwt
	url = git@github.com:ctx-core/jwt
[submodule "packages/keyboard"]
	path = packages/keyboard
	url = git@github.com:ctx-core/keyboard
[submodule "packages/layer"]
	path = packages/layer
	url = git@github.com:ctx-core/layer
[submodule "packages/loader"]
	path = packages/loader
	url = git@github.com:ctx-core/loader
[submodule "packages/local-storage"]
	path = packages/local-storage
	url = git@github.com:ctx-core/local-storage
[submodule "packages/logger"]
	path = packages/logger
	url = git@github.com:ctx-core/logger
[submodule "packages/math"]
	path = packages/math
	url = git@github.com:ctx-core/math
[submodule "packages/matrix"]
	path = packages/matrix
	url = git@github.com:ctx-core/matrix
[submodule "packages/module-card"]
	path = packages/module-card
	url = git@github.com:ctx-core/module-card
[submodule "packages/monorepo"]
	path = packages/monorepo
	url = git@github.com:ctx-core/monorepo
[submodule "packages/nav"]
	path = packages/nav
	url = git@github.com:ctx-core/nav
[submodule "packages/number"]
	path = packages/number
	url = git@github.com:ctx-core/number
[submodule "packages/object"]
	path = packages/object
	url = git@github.com:ctx-core/object
[submodule "packages/package"]
	path = packages/package
	url = git@github.com:ctx-core/package
[submodule "packages/pagination"]
	path = packages/pagination
	url = git@github.com:ctx-core/pagination
[submodule "packages/papaparse"]
	path = packages/papaparse
	url = git@github.com:ctx-core/papaparse
[submodule "packages/pipe"]
	path = packages/pipe
	url = git@github.com:ctx-core/pipe
[submodule "packages/polarity"]
	path = packages/polarity
	url = git@github.com:ctx-core/polarity
[submodule "packages/polka-types"]
	path = packages/polka-types
	url = git@github.com:ctx-core/polka-types
[submodule "packages/postgres"]
	path = packages/postgres
	url = git@github.com:ctx-core/postgres
[submodule "packages/queue"]
	path = packages/queue
	url = git@github.com:ctx-core/queue
[submodule "packages/random"]
	path = packages/random
	url = git@github.com:ctx-core/random
[submodule "packages/regex"]
	path = packages/regex
	url = git@github.com:ctx-core/regex
[submodule "packages/ribbon"]
	path = packages/ribbon
	url = git@github.com:ctx-core/ribbon
[submodule "packages/ripple-effect"]
	path = packages/ripple-effect
	url = git@github.com:ctx-core/ripple-effect
[submodule "packages/rollup"]
	path = packages/rollup
	url = git@github.com:ctx-core/rollup
[submodule "packages/route"]
	path = packages/route
	url = git@github.com:ctx-core/route
[submodule "packages/s3"]
	path = packages/s3
	url = git@github.com:ctx-core/s3
[submodule "packages/sapper"]
	path = packages/sapper
	url = git@github.com:ctx-core/sapper
[submodule "packages/sapper-amp"]
	path = packages/sapper-amp
	url = git@github.com:ctx-core/sapper-amp
[submodule "packages/sass"]
	path = packages/sass
	url = git@github.com:ctx-core/sass
[submodule "packages/sass-build"]
	path = packages/sass-build
	url = git@github.com:ctx-core/sass-build
[submodule "packages/scroll"]
	path = packages/scroll
	url = git@github.com:ctx-core/scroll
[submodule "packages/search"]
	path = packages/search
	url = git@github.com:ctx-core/search
[submodule "packages/security"]
	path = packages/security
	url = git@github.com:ctx-core/security
[submodule "packages/session"]
	path = packages/session
	url = git@github.com:ctx-core/session
[submodule "packages/set"]
	path = packages/set
	url = git@github.com:ctx-core/set
[submodule "packages/shell"]
	path = packages/shell
	url = git@github.com:ctx-core/shell
[submodule "packages/sleep"]
	path = packages/sleep
	url = git@github.com:ctx-core/sleep
[submodule "packages/socicon"]
	path = packages/socicon
	url = git@github.com:ctx-core/socicon
[submodule "packages/ssh"]
	path = packages/ssh
	url = git@github.com:ctx-core/ssh
[submodule "packages/string"]
	path = packages/string
	url = git@github.com:ctx-core/string
[submodule "packages/style"]
	path = packages/style
	url = git@github.com:ctx-core/style
[submodule "packages/svelte"]
	path = packages/svelte
	url = git@github.com:ctx-core/svelte
[submodule "packages/svelte-transitions"]
	path = packages/svelte-transitions
	url = git@github.com:ctx-core/svelte-transitions
[submodule "packages/svg"]
	path = packages/svg
	url = git@github.com:ctx-core/svg
[submodule "packages/switch"]
	path = packages/switch
	url = git@github.com:ctx-core/switch
[submodule "packages/table"]
	path = packages/table
	url = git@github.com:ctx-core/table
[submodule "packages/test"]
	path = packages/test
	url = git@github.com:ctx-core/test
[submodule "packages/theme"]
	path = packages/theme
	url = git@github.com:ctx-core/theme
[submodule "packages/time"]
	path = packages/time
	url = git@github.com:ctx-core/time
[submodule "packages/touch"]
	path = packages/touch
	url = git@github.com:ctx-core/touch
[submodule "packages/tradingview"]
	path = packages/tradingview
	url = git@github.com:ctx-core/tradingview
[submodule "packages/uikit"]
	path = packages/uikit
	url = git@github.com:ctx-core/uikit
[submodule "packages/up__apex"]
	path = packages/up__apex
	url = git@github.com:ctx-core/up__apex
[submodule "packages/uri"]
	path = packages/uri
	url = git@github.com:ctx-core/uri
[submodule "packages/uuid"]
	path = packages/uuid
	url = git@github.com:ctx-core/uuid
[submodule "packages/version__obj"]
	path = packages/version__obj
	url = git@github.com:ctx-core/version__obj
[submodule "packages/webgl"]
	path = packages/webgl
	url = git@github.com:ctx-core/webgl
[submodule "packages/window"]
	path = packages/window
	url = git@github.com:ctx-core/window
[submodule "packages/word-segmentation"]
	path = packages/word-segmentation
	url = git@github.com:ctx-core/word-segmentation
[submodule "tools/ctx-core-dev-tools"]
	path = tools/ctx-core-dev-tools
	url = git@github.com:ctx-core/ctx-core-dev-tools.git
[submodule "tools/ctx-core-git-tools"]
	path = tools/ctx-core-git-tools
	url = git@github.com:ctx-core/ctx-core-git-tools.git
[submodule "tools/ctx-core-package-tools"]
	path = tools/ctx-core-package-tools
	url = git@github.com:ctx-core/ctx-core-package-tools.git
[submodule "tools/ctx-core-typescript-tools"]
	path = tools/ctx-core-typescript-tools
	url = git@github.com:ctx-core/ctx-core-typescript-tools.git
[submodule "packages/pnpm-tools"]
	path = packages/pnpm-tools
	url = git@github.com:ctx-core/pnpm-tools.git
[submodule "packages/git-tools"]
	path = packages/git-tools
	url = git@github.com:ctx-core/git-tools.git
[submodule "packages/dom-event"]
	path = packages/dom-event
	url = git@github.com:ctx-core/dom-event.git
[submodule "packages/event-log"]
	path = packages/event-log
	url = git@github.com:ctx-core/event-log.git
[submodule "packages/dev-tools"]
	path = packages/dev-tools
	url = git@github.com:ctx-core/dev-tools.git
[submodule "packages/app_version"]
	path = packages/app_version
	url = git@github.com:ctx-core/app_version
[submodule "packages/import-meta-resolve"]
	path = packages/import-meta-resolve
	url = git@github.com:ctx-core/import-meta-resolve
[submodule "packages/build"]
	path = packages/build
	url = git@github.com:ctx-core/build.git
[submodule "packages/auth0-service"]
	path = packages/auth0-service
	url = git@github.com:ctx-core/auth0-service.git
[submodule "packages/pocketgrid"]
	path = packages/pocketgrid
	url = git@github.com:ctx-core/pocketgrid.git
[submodule "packages/fast-deep-equal"]
	path = packages/fast-deep-equal
	url = git@github.com:ctx-core/fast-deep-equal.git
[submodule "dormant_packages/lib"]
	path = dormant_packages/lib
	url = git@github.com:ctx-core/lib.git
[submodule "dormant_packages/strip__logger"]
	path = dormant_packages/strip__logger
	url = git@github.com:ctx-core/strip__logger
[submodule "packages/date-ui-svelte"]
	path = packages/date-ui-svelte
	url = git@github.com:ctx-core/date-ui-svelte.git
[submodule "packages/dialog-ui-svelte"]
	path = packages/dialog-ui-svelte
	url = git@github.com:ctx-core/dialog-ui-svelte.git
[submodule "packages/etsy_cache-ui-svelte"]
	path = packages/etsy_cache-ui-svelte
	url = git@github.com:ctx-core/etsy_cache-ui-svelte.git
[submodule "packages/fontawesome-ui-svelte"]
	path = packages/fontawesome-ui-svelte
	url = git@github.com:ctx-core/fontawesome-ui-svelte.git
[submodule "packages/google-ui-svelte"]
	path = packages/google-ui-svelte
	url = git@github.com:ctx-core/google-ui-svelte.git
[submodule "packages/nav-ui-svelte"]
	path = packages/nav-ui-svelte
	url = git@github.com:ctx-core/nav-ui-svelte.git
[submodule "packages/polarity-ui-svelte"]
	path = packages/polarity-ui-svelte
	url = git@github.com:ctx-core/polarity-ui-svelte.git
[submodule "packages/ripple-effect-ui-svelte"]
	path = packages/ripple-effect-ui-svelte
	url = git@github.com:ctx-core/ripple-effect-ui-svelte.git
[submodule "packages/scroll-ui-svelte"]
	path = packages/scroll-ui-svelte
	url = git@github.com:ctx-core/scroll-ui-svelte.git
[submodule "packages/svg-ui-svelte"]
	path = packages/svg-ui-svelte
	url = git@github.com:ctx-core/svg-ui-svelte.git
[submodule "packages/instagram_cache-node"]
	path = packages/instagram_cache-node
	url = git@github.com:ctx-core/instagram_cache-node.git
[submodule "packages/instagram_cache-ui-svelte"]
	path = packages/instagram_cache-ui-svelte
	url = git@github.com:ctx-core/instagram_cache-ui-svelte.git
[submodule "dormant_packages/dist"]
	path = dormant_packages/dist
	url = git@github.com:ctx-core/dist.git
[submodule "dormant_packages/store"]
	path = dormant_packages/store
	url = git@github.com:ctx-core/store.git
[submodule "packages/nanostores"]
	path = packages/nanostores
	url = git@github.com:ctx-core/nanostores.git
[submodule "dormant_packages/markdown"]
	path = dormant_packages/markdown
	url = git@github.com:ctx-core/markdown.git
[submodule "packages/ripple-effect-ui-solid"]
	path = packages/ripple-effect-ui-solid
	url = git@github.com:ctx-core/ripple-effect-ui-solid.git
[submodule "packages/checkbox-tree"]
	path = packages/checkbox-tree
	url = git@github.com:ctx-core/checkbox-tree.git
[submodule "packages/checkbox-tree-ui-svelte"]
	path = packages/checkbox-tree-ui-svelte
	url = git@github.com:ctx-core/checkbox-tree-ui-svelte.git
[submodule "packages/fetch-undici"]
	path = packages/fetch-undici
	url = git@github.com:ctx-core/fetch-undici.git
[submodule "packages/fetch-node"]
	path = packages/fetch-node
	url = git@github.com:ctx-core/fetch-node.git
[submodule "packages/chars"]
	path = packages/chars
	url = git@github.com:ctx-core/chars.git
[submodule "packages/types"]
	path = packages/types
	url = git@github.com:ctx-core/types.git
[submodule "packages/svelte-preprocess"]
	path = packages/svelte-preprocess
	url = git@github.com:ctx-core/svelte-preprocess.git
[submodule "packages/ui-solid"]
	path = packages/ui-solid
	url = git@github.com:ctx-core/ui-solid.git
[submodule "packages/solid-nanostores"]
	path = packages/solid-nanostores
	url = git@github.com:ctx-core/solid-nanostores.git
[submodule "packages/notyf"]
	path = packages/notyf
	url = git@github.com:ctx-core/notyf.git
[submodule "packages/solid-js"]
	path = packages/solid-js
	url = git@github.com:ctx-core/solid-js.git
[submodule "packages/solid-start"]
	path = packages/solid-start
	url = git@github.com:ctx-core/solid-start.git
[submodule "packages/dialog-ui-solid"]
	path = packages/dialog-ui-solid
	url = git@github.com:ctx-core/dialog-ui-solid.git
[submodule "packages/auth0-ui-solid"]
	path = packages/auth0-ui-solid
	url = git@github.com:ctx-core/auth0-ui-solid.git
[submodule "packages/auth0-spa-svelte"]
	path = packages/auth0-spa-svelte
	url = git@github.com:ctx-core/auth0-spa-svelte.git
[submodule "packages/auth0-cs-solid"]
	path = packages/auth0-cs-solid
	url = git@github.com:ctx-core/auth0-cs-solid.git
[submodule "packages/crypto"]
	path = packages/crypto
	url = git@github.com:ctx-core/crypto.git
[submodule "packages/tempfile"]
	path = packages/tempfile
	url = git@github.com:ctx-core/tempfile.git
