[submodule "dormant/dist"]
	path = dormant/dist
	url = git@github.com:ctx-core/dist.git
[submodule "dormant/dormant-catch-all"]
	path = dormant/dormant-catch-all
	url = git@github.com:ctx-core/dormant-catch-all.git
[submodule "dormant/markdown"]
	path = dormant/markdown
	url = git@github.com:ctx-core/markdown.git
[submodule "dormant/polka-types"]
	path = dormant/polka-types
	url = git@github.com:ctx-core/polka-types.git
[submodule "dormant/strip__logger"]
	path = dormant/strip__logger
	url = git@github.com:ctx-core/strip__logger
[submodule "lib/a__target"]
	path = lib/a__target
	url = git@github.com:ctx-core/a__target
[submodule "lib/addtocalendar.com"]
	path = lib/addtocalendar.com
	url = git@github.com:ctx-core/addtocalendar.com.git
[submodule "lib/app_version"]
	path = lib/app_version
	url = git@github.com:ctx-core/app_version
[submodule "lib/array"]
	path = lib/array
	url = git@github.com:ctx-core/array
[submodule "lib/assert"]
	path = lib/assert
	url = git@github.com:ctx-core/assert
[submodule "lib/atob"]
	path = lib/atob
	url = git@github.com:ctx-core/atob
[submodule "lib/auth0"]
	path = lib/auth0
	url = git@github.com:ctx-core/auth0
[submodule "lib/auth0-cs-solid"]
	path = lib/auth0-cs-solid
	url = git@github.com:ctx-core/auth0-cs-solid.git
[submodule "lib/auth0-lock"]
	path = lib/auth0-lock
	url = git@github.com:ctx-core/auth0-lock
[submodule "lib/auth0-management"]
	path = lib/auth0-management
	url = git@github.com:ctx-core/auth0-management
[submodule "lib/auth0-service"]
	path = lib/auth0-service
	url = git@github.com:ctx-core/auth0-service.git
[submodule "lib/auth0-spa-svelte"]
	path = lib/auth0-spa-svelte
	url = git@github.com:ctx-core/auth0-spa-svelte.git
[submodule "lib/auth0-ui"]
	path = lib/auth0-ui
	url = git@github.com:ctx-core/auth0-ui
[submodule "lib/auth0-ui-solid"]
	path = lib/auth0-ui-solid
	url = git@github.com:ctx-core/auth0-ui-solid.git
[submodule "lib/aws-cli"]
	path = lib/aws-cli
	url = git@github.com:ctx-core/aws-cli
[submodule "lib/babel"]
	path = lib/babel
	url = git@github.com:ctx-core/babel
[submodule "lib/base16"]
	path = lib/base16
	url = git@github.com:ctx-core/base16
[submodule "lib/btoa"]
	path = lib/btoa
	url = git@github.com:ctx-core/btoa
[submodule "lib/buffer"]
	path = lib/buffer
	url = git@github.com:ctx-core/buffer
[submodule "lib/build"]
	path = lib/build
	url = git@github.com:ctx-core/build.git
[submodule "lib/cache"]
	path = lib/cache
	url = git@github.com:ctx-core/cache
[submodule "lib/carousel"]
	path = lib/carousel
	url = git@github.com:ctx-core/carousel
[submodule "lib/chain"]
	path = lib/chain
	url = git@github.com:ctx-core/chain
[submodule "lib/chars"]
	path = lib/chars
	url = git@github.com:ctx-core/chars.git
[submodule "lib/checkbox-tree"]
	path = lib/checkbox-tree
	url = git@github.com:ctx-core/checkbox-tree.git
[submodule "lib/checkbox-tree-ui-svelte"]
	path = lib/checkbox-tree-ui-svelte
	url = git@github.com:ctx-core/checkbox-tree-ui-svelte.git
[submodule "lib/child_process"]
	path = lib/child_process
	url = git@github.com:ctx-core/child_process
[submodule "lib/class"]
	path = lib/class
	url = git@github.com:ctx-core/class
[submodule "lib/cli-args"]
	path = lib/cli-args
	url = git@github.com:ctx-core/cli-args
[submodule "lib/clipboard"]
	path = lib/clipboard
	url = git@github.com:ctx-core/clipboard
[submodule "lib/cognito"]
	path = lib/cognito
	url = git@github.com:ctx-core/cognito
[submodule "lib/color"]
	path = lib/color
	url = git@github.com:ctx-core/color
[submodule "lib/color-bar"]
	path = lib/color-bar
	url = git@github.com:ctx-core/color-bar
[submodule "lib/combinators"]
	path = lib/combinators
	url = git@github.com:ctx-core/combinators
[submodule "lib/cookie"]
	path = lib/cookie
	url = git@github.com:ctx-core/cookie
[submodule "lib/core-js"]
	path = lib/core-js
	url = git@github.com:ctx-core/core-js
[submodule "lib/crypto"]
	path = lib/crypto
	url = git@github.com:ctx-core/crypto.git
[submodule "lib/csv"]
	path = lib/csv
	url = git@github.com:ctx-core/csv
[submodule "lib/ctx-core"]
	path = lib/ctx-core
	url = git@github.com:ctx-core/ctx-core.git
[submodule "lib/currency"]
	path = lib/currency
	url = git@github.com:ctx-core/currency
[submodule "lib/data"]
	path = lib/data
	url = git@github.com:ctx-core/data
[submodule "lib/date"]
	path = lib/date
	url = git@github.com:ctx-core/date
[submodule "lib/date-ui-svelte"]
	path = lib/date-ui-svelte
	url = git@github.com:ctx-core/date-ui-svelte.git
[submodule "lib/debounce"]
	path = lib/debounce
	url = git@github.com:ctx-core/debounce
[submodule "lib/dev-tools"]
	path = lib/dev-tools
	url = git@github.com:ctx-core/dev-tools.git
[submodule "lib/dialog"]
	path = lib/dialog
	url = git@github.com:ctx-core/dialog
[submodule "lib/dialog-ui-solid"]
	path = lib/dialog-ui-solid
	url = git@github.com:ctx-core/dialog-ui-solid.git
[submodule "lib/dialog-ui-svelte"]
	path = lib/dialog-ui-svelte
	url = git@github.com:ctx-core/dialog-ui-svelte.git
[submodule "lib/dir"]
	path = lib/dir
	url = git@github.com:ctx-core/dir
[submodule "lib/disqus"]
	path = lib/disqus
	url = git@github.com:ctx-core/disqus
[submodule "lib/dom"]
	path = lib/dom
	url = git@github.com:ctx-core/dom
[submodule "lib/dom-event"]
	path = lib/dom-event
	url = git@github.com:ctx-core/dom-event.git
[submodule "lib/domain--any"]
	path = lib/domain--any
	url = git@github.com:ctx-core/domain--any.git
[submodule "lib/drip_marketing"]
	path = lib/drip_marketing
	url = git@github.com:ctx-core/drip_marketing
[submodule "lib/email"]
	path = lib/email
	url = git@github.com:ctx-core/email
[submodule "lib/env"]
	path = lib/env
	url = git@github.com:ctx-core/env
[submodule "lib/error"]
	path = lib/error
	url = git@github.com:ctx-core/error
[submodule "lib/esm"]
	path = lib/esm
	url = git@github.com:ctx-core/esm
[submodule "lib/etag"]
	path = lib/etag
	url = git@github.com:ctx-core/etag
[submodule "lib/etsy_cache"]
	path = lib/etsy_cache
	url = git@github.com:ctx-core/etsy_cache
[submodule "lib/etsy_cache-ui-svelte"]
	path = lib/etsy_cache-ui-svelte
	url = git@github.com:ctx-core/etsy_cache-ui-svelte.git
[submodule "lib/event-log"]
	path = lib/event-log
	url = git@github.com:ctx-core/event-log.git
[submodule "lib/fast-deep-equal"]
	path = lib/fast-deep-equal
	url = git@github.com:ctx-core/fast-deep-equal.git
[submodule "lib/fb"]
	path = lib/fb
	url = git@github.com:ctx-core/fb
[submodule "lib/fetch"]
	path = lib/fetch
	url = git@github.com:ctx-core/fetch
[submodule "lib/fetch-node"]
	path = lib/fetch-node
	url = git@github.com:ctx-core/fetch-node.git
[submodule "lib/fetch-undici"]
	path = lib/fetch-undici
	url = git@github.com:ctx-core/fetch-undici.git
[submodule "lib/fibonacci"]
	path = lib/fibonacci
	url = git@github.com:ctx-core/fibonacci
[submodule "lib/file-reader"]
	path = lib/file-reader
	url = git@github.com:ctx-core/file-reader
[submodule "lib/flash"]
	path = lib/flash
	url = git@github.com:ctx-core/flash
[submodule "lib/font"]
	path = lib/font
	url = git@github.com:ctx-core/font
[submodule "lib/fontawesome"]
	path = lib/fontawesome
	url = git@github.com:ctx-core/fontawesome
[submodule "lib/fontawesome-ui-svelte"]
	path = lib/fontawesome-ui-svelte
	url = git@github.com:ctx-core/fontawesome-ui-svelte.git
[submodule "lib/form"]
	path = lib/form
	url = git@github.com:ctx-core/form
[submodule "lib/fs"]
	path = lib/fs
	url = git@github.com:ctx-core/fs.git
[submodule "lib/function"]
	path = lib/function
	url = git@github.com:ctx-core/function
[submodule "lib/functional"]
	path = lib/functional
	url = git@github.com:ctx-core/functional
[submodule "lib/git-tools"]
	path = lib/git-tools
	url = git@github.com:ctx-core/git-tools.git
[submodule "lib/google"]
	path = lib/google
	url = git@github.com:ctx-core/google
[submodule "lib/google-ui-svelte"]
	path = lib/google-ui-svelte
	url = git@github.com:ctx-core/google-ui-svelte.git
[submodule "lib/graphql"]
	path = lib/graphql
	url = git@github.com:ctx-core/graphql
[submodule "lib/graphql-client"]
	path = lib/graphql-client
	url = git@github.com:ctx-core/graphql-client
[submodule "lib/graphql-service"]
	path = lib/graphql-service
	url = git@github.com:ctx-core/graphql-service
[submodule "lib/highlight.js"]
	path = lib/highlight.js
	url = git@github.com:ctx-core/highlight.js
[submodule "lib/html"]
	path = lib/html
	url = git@github.com:ctx-core/html
[submodule "lib/http"]
	path = lib/http
	url = git@github.com:ctx-core/http
[submodule "lib/iex"]
	path = lib/iex
	url = git@github.com:ctx-core/iex
[submodule "lib/iex-graphql"]
	path = lib/iex-graphql
	url = git@github.com:ctx-core/iex-graphql
[submodule "lib/import-meta-resolve"]
	path = lib/import-meta-resolve
	url = git@github.com:ctx-core/import-meta-resolve
[submodule "lib/instagram"]
	path = lib/instagram
	url = git@github.com:ctx-core/instagram
[submodule "lib/instagram_cache"]
	path = lib/instagram_cache
	url = git@github.com:ctx-core/instagram_cache
[submodule "lib/instagram_cache-node"]
	path = lib/instagram_cache-node
	url = git@github.com:ctx-core/instagram_cache-node.git
[submodule "lib/instagram_cache-ui-svelte"]
	path = lib/instagram_cache-ui-svelte
	url = git@github.com:ctx-core/instagram_cache-ui-svelte.git
[submodule "lib/jetbrains"]
	path = lib/jetbrains
	url = git@github.com:ctx-core/jetbrains
[submodule "lib/jsdoc"]
	path = lib/jsdoc
	url = git@github.com:ctx-core/jsdoc
[submodule "lib/jwt"]
	path = lib/jwt
	url = git@github.com:ctx-core/jwt
[submodule "lib/keyboard"]
	path = lib/keyboard
	url = git@github.com:ctx-core/keyboard
[submodule "lib/layer"]
	path = lib/layer
	url = git@github.com:ctx-core/layer
[submodule "lib/loader"]
	path = lib/loader
	url = git@github.com:ctx-core/loader
[submodule "lib/local-storage"]
	path = lib/local-storage
	url = git@github.com:ctx-core/local-storage
[submodule "lib/logger"]
	path = lib/logger
	url = git@github.com:ctx-core/logger
[submodule "lib/math"]
	path = lib/math
	url = git@github.com:ctx-core/math
[submodule "lib/matrix"]
	path = lib/matrix
	url = git@github.com:ctx-core/matrix
[submodule "lib/module-card"]
	path = lib/module-card
	url = git@github.com:ctx-core/module-card
[submodule "lib/monorepo"]
	path = lib/monorepo
	url = git@github.com:ctx-core/monorepo
[submodule "lib/nanostores"]
	path = lib/nanostores
	url = git@github.com:ctx-core/nanostores.git
[submodule "lib/nav"]
	path = lib/nav
	url = git@github.com:ctx-core/nav
[submodule "lib/nav-ui-svelte"]
	path = lib/nav-ui-svelte
	url = git@github.com:ctx-core/nav-ui-svelte.git
[submodule "lib/notyf"]
	path = lib/notyf
	url = git@github.com:ctx-core/notyf.git
[submodule "lib/number"]
	path = lib/number
	url = git@github.com:ctx-core/number
[submodule "lib/object"]
	path = lib/object
	url = git@github.com:ctx-core/object
[submodule "lib/package"]
	path = lib/package
	url = git@github.com:ctx-core/package
[submodule "lib/pagination"]
	path = lib/pagination
	url = git@github.com:ctx-core/pagination
[submodule "lib/papaparse"]
	path = lib/papaparse
	url = git@github.com:ctx-core/papaparse
[submodule "lib/pipe"]
	path = lib/pipe
	url = git@github.com:ctx-core/pipe
[submodule "lib/pnpm-tools"]
	path = lib/pnpm-tools
	url = git@github.com:ctx-core/pnpm-tools.git
[submodule "lib/pocketgrid"]
	path = lib/pocketgrid
	url = git@github.com:ctx-core/pocketgrid.git
[submodule "lib/polarity"]
	path = lib/polarity
	url = git@github.com:ctx-core/polarity
[submodule "lib/polarity-ui-svelte"]
	path = lib/polarity-ui-svelte
	url = git@github.com:ctx-core/polarity-ui-svelte.git
[submodule "lib/postgres"]
	path = lib/postgres
	url = git@github.com:ctx-core/postgres
[submodule "lib/queue"]
	path = lib/queue
	url = git@github.com:ctx-core/queue
[submodule "lib/random"]
	path = lib/random
	url = git@github.com:ctx-core/random
[submodule "lib/regex"]
	path = lib/regex
	url = git@github.com:ctx-core/regex
[submodule "lib/ribbon"]
	path = lib/ribbon
	url = git@github.com:ctx-core/ribbon
[submodule "lib/ripple-effect"]
	path = lib/ripple-effect
	url = git@github.com:ctx-core/ripple-effect
[submodule "lib/ripple-effect-ui-solid"]
	path = lib/ripple-effect-ui-solid
	url = git@github.com:ctx-core/ripple-effect-ui-solid.git
[submodule "lib/ripple-effect-ui-svelte"]
	path = lib/ripple-effect-ui-svelte
	url = git@github.com:ctx-core/ripple-effect-ui-svelte.git
[submodule "lib/rmemo"]
	path = lib/rmemo
	url = git@github.com:ctx-core/rmemo.git
[submodule "lib/rollup"]
	path = lib/rollup
	url = git@github.com:ctx-core/rollup
[submodule "lib/route"]
	path = lib/route
	url = git@github.com:ctx-core/route
[submodule "lib/rrenjs--any"]
	path = lib/rrenjs--any
	url = https://github.com/rrenjs/any
[submodule "lib/rrenjs--all"]
	path = lib/rrenjs--all
	url = https://github.com/rrenjs/all
[submodule "lib/rrenjs--browser"]
	path = lib/rrenjs--browser
	url = https://github.com/rrenjs/browser
[submodule "lib/rrenjs--server"]
	path = lib/rrenjs--server
	url = https://github.com/rrenjs/server
[submodule "lib/s3"]
	path = lib/s3
	url = git@github.com:ctx-core/s3
[submodule "lib/sapper"]
	path = lib/sapper
	url = git@github.com:ctx-core/sapper
[submodule "lib/sapper-amp"]
	path = lib/sapper-amp
	url = git@github.com:ctx-core/sapper-amp
[submodule "lib/sass"]
	path = lib/sass
	url = git@github.com:ctx-core/sass
[submodule "lib/sass-build"]
	path = lib/sass-build
	url = git@github.com:ctx-core/sass-build
[submodule "lib/scroll"]
	path = lib/scroll
	url = git@github.com:ctx-core/scroll
[submodule "lib/scroll-ui-svelte"]
	path = lib/scroll-ui-svelte
	url = git@github.com:ctx-core/scroll-ui-svelte.git
[submodule "lib/search"]
	path = lib/search
	url = git@github.com:ctx-core/search
[submodule "lib/security"]
	path = lib/security
	url = git@github.com:ctx-core/security
[submodule "lib/session"]
	path = lib/session
	url = git@github.com:ctx-core/session
[submodule "lib/set"]
	path = lib/set
	url = git@github.com:ctx-core/set
[submodule "lib/shell"]
	path = lib/shell
	url = git@github.com:ctx-core/shell
[submodule "lib/sleep"]
	path = lib/sleep
	url = git@github.com:ctx-core/sleep
[submodule "lib/socicon"]
	path = lib/socicon
	url = git@github.com:ctx-core/socicon
[submodule "lib/solid-js"]
	path = lib/solid-js
	url = git@github.com:ctx-core/solid-js.git
[submodule "lib/solid-nanostores"]
	path = lib/solid-nanostores
	url = git@github.com:ctx-core/solid-nanostores.git
[submodule "lib/solid-start"]
	path = lib/solid-start
	url = git@github.com:ctx-core/solid-start.git
[submodule "lib/ssh"]
	path = lib/ssh
	url = git@github.com:ctx-core/ssh
[submodule "lib/string"]
	path = lib/string
	url = git@github.com:ctx-core/string
[submodule "lib/style"]
	path = lib/style
	url = git@github.com:ctx-core/style
[submodule "lib/svelte"]
	path = lib/svelte
	url = git@github.com:ctx-core/svelte
[submodule "lib/svelte-preprocess"]
	path = lib/svelte-preprocess
	url = git@github.com:ctx-core/svelte-preprocess.git
[submodule "lib/svelte-transitions"]
	path = lib/svelte-transitions
	url = git@github.com:ctx-core/svelte-transitions
[submodule "lib/svg"]
	path = lib/svg
	url = git@github.com:ctx-core/svg
[submodule "lib/svg-ui-svelte"]
	path = lib/svg-ui-svelte
	url = git@github.com:ctx-core/svg-ui-svelte.git
[submodule "lib/switch"]
	path = lib/switch
	url = git@github.com:ctx-core/switch
[submodule "lib/table"]
	path = lib/table
	url = git@github.com:ctx-core/table
[submodule "lib/tempfile"]
	path = lib/tempfile
	url = git@github.com:ctx-core/tempfile.git
[submodule "lib/test"]
	path = lib/test
	url = git@github.com:ctx-core/test
[submodule "lib/theme"]
	path = lib/theme
	url = git@github.com:ctx-core/theme
[submodule "lib/time"]
	path = lib/time
	url = git@github.com:ctx-core/time
[submodule "lib/touch"]
	path = lib/touch
	url = git@github.com:ctx-core/touch
[submodule "lib/tradingview"]
	path = lib/tradingview
	url = git@github.com:ctx-core/tradingview
[submodule "lib/types"]
	path = lib/types
	url = git@github.com:ctx-core/types.git
[submodule "lib/ui-solid"]
	path = lib/ui-solid
	url = git@github.com:ctx-core/ui-solid.git
[submodule "lib/uikit"]
	path = lib/uikit
	url = git@github.com:ctx-core/uikit
[submodule "lib/up__apex"]
	path = lib/up__apex
	url = git@github.com:ctx-core/up__apex
[submodule "lib/uri"]
	path = lib/uri
	url = git@github.com:ctx-core/uri
[submodule "lib/uuid"]
	path = lib/uuid
	url = git@github.com:ctx-core/uuid
[submodule "lib/van-type-delegate"]
	path = lib/van-type-delegate
	url = git@github.com:btakita/van-type-delegate.git
[submodule "lib/vanjs"]
	path = lib/vanjs
	url = git@github.com:ctx-core/vanjs.git
[submodule "lib/version__obj"]
	path = lib/version__obj
	url = git@github.com:ctx-core/version__obj
[submodule "lib/webgl"]
	path = lib/webgl
	url = git@github.com:ctx-core/webgl
[submodule "lib/window"]
	path = lib/window
	url = git@github.com:ctx-core/window
[submodule "lib/word-segmentation"]
	path = lib/word-segmentation
	url = git@github.com:ctx-core/word-segmentation
[submodule "tools/ctx-core-dev-tools"]
	path = tools/ctx-core-dev-tools
	url = git@github.com:ctx-core/ctx-core-dev-tools.git
[submodule "tools/ctx-core-git-tools"]
	path = tools/ctx-core-git-tools
	url = git@github.com:ctx-core/ctx-core-git-tools.git
[submodule "tools/ctx-core-package-tools"]
	path = tools/ctx-core-package-tools
	url = git@github.com:ctx-core/ctx-core-package-tools.git
[submodule "tools/ctx-core-typescript-tools"]
	path = tools/ctx-core-typescript-tools
	url = git@github.com:ctx-core/ctx-core-typescript-tools.git
