[submodule "packages/addtocalendar.com_"]
	path = packages/addtocalendar.com_
	url = https://github.com/ctx-core/ctx-core-addtocalendar.com.git
[submodule "packages/addtocalendar.com"]
	path = packages/addtocalendar.com
	url = https://github.com/ctx-core/ctx-core-addtocalendar.com.git
