.ctx-positive {
	color: #33A532;
}
.ctx-neutral {
	color: #999999;
}
.ctx-negative {
	color: #CC0605;
}
.ctx-positive, .ctx-neutral, .ctx-negative {
	display: none;
}
.positive .ctx-positive
, .neutral .ctx-neutral
, .negative .ctx-negative {
	display: inline-block;
}