@mixin handle__nav($root: '.Handle__Nav', $width-slider-nav: 1400px, $height: 2rem, $width: 2rem) {
	:global(#{$root}) {
		display: none;
		align-items: center;
		justify-content: center;
		position: fixed;
		height: $height;
		width: $width;
		cursor: pointer;
		@media(max-width: #{$width-slider-nav}) {
			display: flex;
		}
		:global(svg) {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}
@mixin content__nav__slide_from_right(
	$root: '.Content__Nav',
	$width-slider-nav: 1400px,
	$width: 10rem
) {
	:global(#{$root}) {
		transition: right 0.5s ease-in-out;
		@media(max-width: #{$width-slider-nav}) {
			left: auto;
			right: -$width;
			width: $width;
		}
		&.opened__nav {
			@media(max-width: #{$width-slider-nav}) {
				right: 0;
			}
		}
	}
}
@mixin content__nav(
	$root: '.Content__Nav',
	$width-slider-nav: 1400px,
	$selected-background: lightgray,
	$line-height: inherit
) {
	:global(#{$root}) {
		width: 100%;
		font-weight: 300;
		font-size: 1.25rem;
		overflow: hidden;
		color: white;
		z-index: 1;
		@media(max-width: #{$width-slider-nav}) {
			right: -100vw;
			font-size: 1rem;
			padding: 0;
			z-index: 2;
			width: 100vw;
		}
		&.opened__nav {
			right: 0;
		}
		:global(.dialog) {
			@media(max-width: #{$width-slider-nav}) {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
			}
			:global(.header) {
				display: none;
				align-items: center;
				justify-content: flex-start;
				height: 2rem;
				@media(max-width: #{$width-slider-nav}) {
					display: flex;
					flex-direction: row;
				}
				:global(.close) {
					display: none;
					width: 2rem;
					height: 100%;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					@media(max-width: #{$width-slider-nav}) {
						display: flex;
					}
				}
			}
			:global(.container) {
				display: block;
				@media(max-width: #{$width-slider-nav}) {
					display: flex;
					justify-content: flex-start;
					flex-direction: column;
					width: 100%;
				}
				:global(.Item__Nav) {
					display: block;
					float: left;
					@media(max-width: #{$width-slider-nav}) {
						float: none;
					}
					&.selected {
						position: relative;
						display: inline-block;
						background: $selected-background;
					}
					:global(a) {
						display: flex;
						align-items: center;
						justify-content: center;
						text-decoration: none;
						line-height: $line-height;
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}