@mixin Handle__Nav($root: '.Handle__Nav', $width__nav__slider: 1400px, $height: 2rem, $width: 2rem) {
	:global(#{$root}) {
		display: none;
		align-items: center;
		justify-content: center;
		position: fixed;
		height: $height;
		width: $width;
		cursor: pointer;
		@media(max-width: #{$width__nav__slider}) {
			display: flex;
		}
		:global(svg) {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}
@mixin Content__Nav(
	$root: '.Content__Nav',
	$width__nav__slider: 1400px,
	$line-height: inherit
) {
	:global(#{$root}) {
		width: 100%;
		font-weight: 300;
		font-size: 1.25rem;
		overflow: hidden;
		color: white;
		z-index: 1;
		@media(max-width: #{$width__nav__slider}) {
			font-size: 1rem;
			padding: 0;
			z-index: 2;
			width: 100vw;
		}
		&.opened__nav {
			right: 0;
		}
		:global(.dialog) {
			@media(max-width: #{$width__nav__slider}) {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
			}
			:global(.header) {
				display: none;
				align-items: center;
				justify-content: flex-start;
				height: 2rem;
				@media(max-width: #{$width__nav__slider}) {
					display: flex;
					flex-direction: row;
				}
				:global(.close) {
					display: none;
					width: 2rem;
					height: 100%;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					@media(max-width: #{$width__nav__slider}) {
						display: flex;
					}
				}
			}
			:global(.container) {
				display: block;
				@media(max-width: #{$width__nav__slider}) {
					display: flex;
					justify-content: flex-start;
					flex-direction: column;
					width: 100%;
				}
				:global(.Item__Nav) {
					display: block;
					float: left;
					@media(max-width: #{$width__nav__slider}) {
						float: none;
					}
					:global([slot=in]) {
						height: 100%;
					}
					:global(a) {
						display: flex;
						align-items: center;
						justify-content: center;
						text-decoration: none;
						line-height: $line-height;
						width: 100%;
						height: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}
@mixin Content__Nav__selected__background(
	$root: '.Content__Nav',
	$background: lightgray
) {
	:global(#{$root}) {
		:global(.dialog) {
			:global(.container) {
				:global(.Item__Nav) {
					&.selected {
						background: $background;
					}
				}
			}
		}
	}
}
@mixin Content__Nav__selected__underline(
	$root: '.Content__Nav',
	$background: lightgray,
	$height: 2px
) {
	:global(#{$root}) {
		:global(.dialog) {
			:global(.container) {
				:global(.Item__Nav) {
					&.selected {
						position: relative;
						&::after {
							display: block;
							position: absolute;
							content: '';
							left: 0;
							width: 100%;
							height: $height;
							background: $background;
							bottom: 0;
						}
					}
				}
			}
		}
	}
}
@mixin Content__Nav__cancel__selected__underline($root: '.Content__Nav') {
	:global(#{$root}) {
		:global(.dialog) {
			:global(.container) {
				:global(.Item__Nav) {
					&.selected {
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
}
@mixin Content__Nav__slide_from_top(
	$root: '.Content__Nav',
	$width__nav__slider: 1400px,
	$height: 100%
) {
	:global(#{$root}) {
		transition: top 0.5s ease-in-out;
		@media(max-width: #{$width__nav__slider}) {
			left: auto;
			top: -$height;
			height: $height;
			width: 100%;
		}
		&.opened__nav {
			@media(max-width: #{$width__nav__slider}) {
				top: 0;
			}
		}
	}
}
@mixin Content__Nav__slide_from_right(
	$root: '.Content__Nav',
	$width__nav__slider: 1400px,
	$width: 10rem
) {
	:global(#{$root}) {
		transition: right 0.5s ease-in-out;
		@media(max-width: #{$width__nav__slider}) {
			left: auto;
			right: -$width;
			width: $width;
		}
		&.opened__nav {
			@media(max-width: #{$width__nav__slider}) {
				right: 0;
			}
		}
	}
}
