{
  "tags": {
    "allowUnknownTags": true,
    "dictionaries": ["jsdoc","closure"]
  },
  "source": {
    "include": ["package.json", "README.md"],
    "includePattern": ".+\\.js(doc)?$",
    "excludePattern": "\/node_modules|\/docs|\/public|\/private|\/tmp|\/bin"
  },
  "plugins": [
    "plugins/markdown"
  ],
    "templates": {
    "cleverLinks": false,
    "monospaceLinks": true,
    "useLongnameInNav": false
  },
  "opts": {
    "destination": "./docs/",
    "encoding": "utf8",
    "private": true,
    "recurse": true,
    "template": "./node_modules/minami"
  }
}