<html lang="en">
	<head>
		{@html _html__script__head__gtm()}
		{@html meta || ''}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		{#if styles}
			{@html styles || ''}
		{/if}
		{#if title}
			<title>{title}</title>
		{:else}
			<title>Default Title</title>
		{/if}
	</head>
	<body>
		{@html _html__script__body__gtm()}
		<slot></slot>
		<script src={env.URL__SHIM__CORE_JS}></script>
		{@html polyfill__fetch()}
		{#if scripts}
			{@html scripts}
		{/if}
		{@html html__script__load}
	</body>
</html>

<script>
	import env from 'ctx-core/env.mjs'
	import {_html__script__head__gtm
				, _html__script__body__gtm} from 'ctx-core/google/html.mjs'
	import {_html__script__load} from 'ctx-core/layout/html.mjs'
	import {polyfill__fetch} from 'ctx-core/fetch/polyfill.html.mjs'
	export default {
		data() {
			return {
				env
			}
		},
		computed: {
			html__script__load: ({ $ctx__load__, components__load }) => _html__script__load($ctx__load__, components__load)
		},
		helpers: {
			_html__script__head__gtm,
			_html__script__body__gtm,
			polyfill__fetch
		}
	}
</script>