{
  "entries": {
    "browser": [
      "dir1/browser.rollup.js",
      "dir2/browser.rollup.js",
      "$dir3/browser-script.rollup.js"
    ],
    "http": [
      "dir1/http.rollup.js",
      "dir2/http.rollup.js",
      "$dir3/http-script.rollup.js"
    ],
    "cli": [
      "ctx-core/quovo/cli.rollup.js"
    ]
  }
}