iframe {
	border: none;
}
.loading:before, .empty:before {
	display: block;
	text-align: center;
	padding: 10px 0;
}
.loading:before {
	content: "Loading\2026";
}
.selected-maybe.selected, .selected-maybe:hover {
	font-weight: bold;
	background: #dddddd;
}