quovo-user-tile {
	display: none;
	width: 100%;
}
quovo-users-tile.quovo-user-tile quovo-user-tile {
	display: flex;
}
quovo-user-tile > div {
	display: -webkit-box;
	display: flex;
}
quovo-user-tile > div > * {
	display: none;
	-webkit-flex: auto;
	flex: auto;
}
quovo-user-tile > div > .quovo-tile {
	display: none;
}
quovo-user-tile.quovo-user-details > div > quovo-user-details, quovo-user-tile.quovo-sync-iframe > div > quovo-sync-iframe, quovo-user-tile.quovo-user-account-tile > div > quovo-user-account-tile {
	display: flex;
}