.quovo-tile {
	display: -webkit-box;
	display: flex;
	-webkit-flex: auto;
	flex: auto;
}
.quovo-tile > .quovo-nav {
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex: inherit auto;
	flex: inherit auto;
	width: 200px;
	border: 1px #000000 dotted;
}
.quovo-tile > div {
	display: -webkit-box;
	display: flex;
	-webkit-flex: auto;
	flex: auto;
	overflow-y: auto;
}
.quovo-tile > div > .quovo-nav {
	-webkit-flex: auto;
	flex: auto;
}