quovo-user-account-nav {
	display: block;
}
quovo-user-account-nav > div > * {
	display: block;
	border: 1px dotted gray;
	color: #000000;
	text-decoration: none;
	overflow: hidden;
}
quovo-user-account-nav > div.loading > * {
	display: none;
}
quovo-user-account-nav > div > a {
	padding: 10px;
}
quovo-user-account-nav > div > a > * {
	display: block;
}
quovo-user-account-nav > div > a > * > * {
	display: block;
}