quovo-sync-iframe {
	display: -webkit-box;
	display: flex;
}
quovo-sync-iframe.loading:before {
	height: 200px;
	width: 100%;
	padding: 10px 0 0;
}
quovo-sync-iframe > * {
	-webkit-flex: auto;
	flex: auto;
}