quovo-user-nav > div > * {
	display: block;
}
quovo-user-nav > div.loading > * {
	display: none;
}
quovo-user-nav > div > a {
	padding: 10px;
	border: 1px dotted gray;
	color: #000000;
	text-decoration: none;
	overflow: hidden;
}
quovo-user-nav > div > a > quovo-user {
	display: block;
}
quovo-user-nav > div > a > quovo-user > * {
	display: block;
}