quovo-user-details {
	display: block;
	padding: 10px;
}
quovo-user-details.loading > * {
	display: none;
}
quovo-user-details > * {
	display: block;
	overflow: hidden;
	padding-bottom: 10px;
}
quovo-user-details > * > * {
	float: left;
}
quovo-user-details > * > label {
	width: 120px;
}