quovo-portfolio-tile > section {
	position: relative;
}
quovo-portfolio-tile > section > * {
	display: none;
	height: 100%;
	width: 100%;
}
quovo-portfolio-tile.quovo-positions > section > quovo-positions, quovo-portfolio-tile.quovo-portfolio-history > section > quovo-portfolio-history {
	display: flex;
	flex-direction: column;
}