.quovo-nav > title {
	display: block;
	min-height: 1.8rem;
	padding: 5px 10px;
	background: #eeeeee;
	border: 1px dotted gray;
}
.quovo-nav > div {
	-webkit-flex: auto;
	flex: auto;
	overflow-x: hidden;
	overflow-y: auto;
}