quovo-account-portfolios {
	display: -webkit-box;
	display: flex;
}
quovo-account-portfolios > div > a {
	display: block;
	padding: 10px;
	overflow: hidden;
	color: #333333;
	text-decoration: none;
}
quovo-account-portfolios > div > a > * {
	display: block;
}
quovo-account-portfolios > div > a > * > * {
	display: block;
}
