quovo-positions {
	display: flex;
	padding: 10px;
	width: calc(40px + 80px + 300px + 100px + 100px + 200px + 200px);
	overflow: auto;
}
quovo-positions > x-headers {
	display: none;
}
quovo-positions > x-headers.present {
	display: flex;
}
quovo-positions > * {
	display: flex;
}
quovo-positions > * {
	display: flex;
	overflow: hidden;
	border: 1px dotted #000000;
	padding: 10px;
	clear: both;
}
quovo-positions > * > * {
	display: flex;
	float: left;
	width: 100px;
	min-height: 1px;
	height: 1.25em;
	line-height: 1.25;
	overflow: hidden;
}
quovo-positions > headers > * {
	font-weight: bold;
}
quovo-positions > * > x-market-code {
	width: 40px;
}
quovo-positions > * > x-ticker {
	width: 80px;
}
quovo-positions > * > x-ticker-name {
	width: 300px;
}
quovo-positions > * > quovo-position-quantity {
	width: 100px;
}
quovo-positions > * > quovo-position-value {
	width: 100px;
}
quovo-positions > * > quovo-security-type {
	width: 200px;
}
quovo-positions > * > quovo-asset-class {
	width: 200px;
}