.Tree__Checkbox {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    input {
      height: auto;
    }
    li {
      position: relative;
      padding: 0 0 0 1rem;
      a.Knob__Tree__Checkbox {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.6rem;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        &.expanded {
          transform: rotate(45deg);
        }
      }
    }
  }
}