.Color__Bar {
	box-sizing: border-box;
	display: block;
}
.Color__Bar * {
	box-sizing: border-box;
}
.Color__Bar ul {
	display: -webkit-box;
	display: flex;
	height: 1rem;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	list-style: none;
}
.Color__Bar ul.labels {
	display: none;
}
.Color__Bar ul.labels.present {
	display: -webkit-box;
	display: flex;
}
.Color__Bar ul li {
	-webkit-box-flex: 1;
	flex: 1;
	height: 1rem;
	font-size: 1rem;
	line-height: 1rem;
	padding-top: 0.05em;
	width: auto;
	color: white;
	border-left: 2px solid #FFF;
}
.Color__Bar ul li.label {
	position: relative;
	color: #000000;
	font-weight: normal;
}
.Color__Bar ul li.label > div {
	position: absolute;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-flex-pack: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	white-space: nowrap;
}