@mixin InstagramGallery(
	$root: '.InstagramGallery',
	$Icon_fill: gray,
	$Icon_hover_fill: white
) {
	:global(.InstagramGallery) {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 400px;
		> :global(*) {
			&.button {
				flex: 0;
				min-width: 50px;
				max-width: 50px;
				margin: 0;
				:global(svg) {
					width: 50px;
					height: 50px;
				}
			}
			&.media {
				flex: 1;
				position: relative;
				text-align: center;
				width: 100%;
				max-width: 400px;
				:global(img) {
					border-radius: 5%;
					display: block;
					max-height: 400px;
					margin: 0 0.1rem;
					user-select: none;
					width: 100%;
				}
			}
		}
		:global(svg.Icon) {
			fill: $Icon_fill;
			&:hover {
				fill: $Icon_hover_fill;
			}
		}
	}
}
